{% block head %}
{{ attach_library( 'biopama_live_data/biopama_live_bdata' ) }}
{% endblock %}

<!--Import leaflet jquery and slide bar-->

    <!--Import materialize.css-->

   <!-- Compiled and minified JavaScript -->
           
    <!-- nav bar -->
    <nav>
      <!-- https://material.io/tools/color/#!/?view.left=0&view.right=0 -->
      <div class="nav-wrapper blue-grey lighten-1">
        <a href="" class="brand-logo"><img src="https://rris.biopama.org/themes/custom/bootstrap_barrio_biopama/img/PEN_Biopama_Logo_no_text_sm.png" height="40px" style="margin-left: 30px; margin-top: 15px;" /></a>
        <a href="#" id="sidenav_Tr" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        
      </div>

    </nav>

    <ul id="slide-out" class="sidenav">
        <div class="slider-contents">
        <li><h5 class="subtitle">Near Real Time Datasts</h5></li>
        <li><em>Explore global near real-time datasets </em></li>
        <li><div class="divider"></div></li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_fire">
                  <img src="{{ live_data_image_path }}fires.png">
                  <span class="card-title">Active Fires</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_fires">add</i></a>
                </div>
                <div class="card-content fires_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth"><li>
                      <div class="fires_1d active_layer icon-choropleth" style="background-color: #f00!important; "></div>
                      <p><span class="name"><i>Last 1 Day</i></span></p></li>
                      <li>
                      <div class="fires_7d active_layer icon-choropleth" style="background-color: #ff7f00!important; ; "></div>
                      <p><span class="name"><i>Last 7 Days</i></span></p></li>
                      <li>
                      <div class="fires_30d active_layer icon-choropleth" style="background-color: #1e90ff!important; ; "></div>
                      <p><span class="name"><i>Last 30 Days</i></span></p></li>
                      <li>
                      <div class="fires_90d active_layer icon-choropleth" style="background-color: #588d0b!important; ; "></div>
                      <p><span class="name"><i>Last 90 Days</i></span></p></li>
                      
                      </div>
                      <div id="fire_date_div"></div>
                      <div id="show_pa"><span class="pa_add">Add Terrestrial Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text">Active Fires <i class="material-icons right">close</i></span>
                  <p>Active fire products from the Moderate Resolution Imaging Spectroradiometer (MODIS) for the last 24 hours up to the last 90 days.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_floods">
                  <img src="{{ live_data_image_path }}floods.png">
                  <span class="card-title">Flood hazard 100 year return period</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_floods">add</i></a>
                </div>
                <div class="card-content floods_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="floods_ne_legend" class="c-legend-content">
                      <ul class="c-legend-choropleth"><li>
                      <div class="floods_ne_05m icon-choropleth" style="background-color: #b8dbff!important; "></div>
                      <p><span class="name"><i>Shallow</i></span></p></li>
                      <li>
                      <div class="floods_ne_1m icon-choropleth" style="background-color: #99ccff!important; ; "></div>
                      <p><span class="name"><i>Moderate</i></span></p></li>
                      <li>
                      <div class="floods_ne_10m icon-choropleth" style="background-color: #6699ff!important; ; "></div>
                      <p><span class="name"><i>Deep</i></span></p></li>
                      <li>
                      <div class="floods_ne_05m icon-choropleth" style="background-color: #3366ff!important; "></div>
                      <p><span class="name"><i>Very deep</i></span></p></li>
                      </ul></div>
                      <div id="floods_date_div"></div>
                      <div id="show_pa"><span class="pa_add">Add Terrestrial Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Flood hazard 100 year return period<i class="material-icons right">close</i></span>
                  <p>Inundated areas for flood events with a return period of 100 years, based on GloFAS climatology. Permanent water bodies derived from the Global Lakes and Wetlands Database and from the Natural Earth lakes map (naturalearthdata.com).</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_drought">
                  <img src="{{ live_data_image_path }}drought.png">
                  <span class="card-title">Risk of Drought Impact</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_drought">add</i></a>
                </div>
                <div class="card-content drought_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="drought_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="edo_10m icon-choropleth" style="background-color: #feea08!important; ; "></div>
                        <p><span class="name"><i>Low</i></span></p></li>
                        <li>
                        <div class="edo_1m icon-choropleth" style="background-color: #ff7f00!important; ; "></div>
                        <p><span class="name"><i>Medium</i></span></p></li>
                        <li>
                        <div class="edo_05m icon-choropleth" style="background-color: #f00!important; "></div>
                        <p><span class="name"><i>High</i></span></p></li>
                        </ul>
                    </div>
                      <div id="drought_date_div"></div>
                      <div id="show_pa"><span class="pa_add">Add Terrestrial Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Risk of Drought Impact<i class="material-icons right">close</i></span>
                  <p>The indicator shows the risk of having impacts from a drought, by taking into account the exposure and socio-economic vulnerability of the area, with particular focus on the agricultural impacts. Formerly known as Likelihood of Drought Impact (LDI), it differs from the latter in that soil moisture anomaly is now included and updated every ten days (dekad).</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_spi">
                  <img src="{{ live_data_image_path }}rain.png">
                  <span class="card-title">Standardized Precipitation Index (SPI)</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_spi">add</i></a>
                </div>
                <div class="card-content spi_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="spi_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="edo_05m icon-choropleth" style="background-color: #b30101!important; "></div>
                        <p><span class="name"><i>-2.5</i></span></p></li>
                        <li>
                        <div class="edo_1m icon-choropleth" style="background-color: #fd0000!important; ; "></div>
                        <p><span class="name"><i>-2.0</i></span></p></li>
                        <li>
                        <div class="edo_10m icon-choropleth" style="background-color: #ff5500!important; ; "></div>
                        <p><span class="name"><i>-1.5</i></span></p></li>
                        <li>
                        <div class="edo_05m icon-choropleth" style="background-color: #ffaa01!important; "></div>
                        <p><span class="name"><i>-1.0</i></span></p></li>
                        <li>
                        <div class="edo_1m icon-choropleth" style="background-color: #ffff01!important; ; "></div>
                        <p><span class="name"><i>-0.5</i></span></p></li>
                        <li>
                        <div class="edo_10m icon-choropleth" style="background-color: #f6f6f6!important; ; "></div>
                        <p><span class="name"><i>0</i></span></p></li>
                        <li>
                        <div class="edo_05m icon-choropleth" style="background-color: #ffffff!important; "></div>
                        <p><span class="name"><i>-0.5</i></span></p></li>
                        <li>
                        <div class="edo_1m icon-choropleth" style="background-color: #e9ccfa!important; ; "></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="edo_10m icon-choropleth" style="background-color: #823292!important; ; "></div>
                        <p><span class="name"><i>1.5</i></span></p></li>
                        <li>
                        <div class="edo_05m icon-choropleth" style="background-color: #3a00af!important; "></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="edo_1m icon-choropleth" style="background-color: #1a00d1!important; ; "></div>
                        <p><span class="name"><i>2.5</i></span></p></li>
                        </ul>
                    </div>
                      <div id="spi_date_div"></div>
                      <div id="show_pa"><span class="pa_add">Add Terrestrial Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Standardized Precipitation Index (SPI)<i class="material-icons right">close</i></span>
                  <p>The variable of the hydrological cycle upon
                    which the SPI indicator produced by European Drought Observatory is based, as well as the indicator’stemporal and spatial scales
                    and geographic coverage, are summarized below. f
                  <hr>
                  More at:
                  <a href="https://edo.jrc.ec.europa.eu/documents/factsheets/factsheet_spi.pdf"> https://edo.jrc.ec.europa.eu/documents/factsheets/factsheet_spi.pd</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_baa">
                  <img src="{{ live_data_image_path }}coral.png">
                  <span class="card-title">Coral Bleaching Heat Stress Alerts</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_baa">add</i></a>
                </div>
                <div class="card-content baa_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="baa_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="baa_05m icon-choropleth" style="background-color: #fff000!important; "></div>
                        <p><span class="name"><i>Watch</i></span></p></li>
                        <li>
                        <div class="baa_1m icon-choropleth" style="background-color: #faaa0a!important; ; "></div>
                        <p><span class="name"><i>Warning</i></span></p></li>
                        <li>
                        <div class="baa_10m icon-choropleth" style="background-color: #ec3747!important; ; "></div>
                        <p><span class="name"><i>Alert Level 1</i></span></p></li>
                        <li>
                        <div class="baa_10m icon-choropleth" style="background-color: #990009!important; ; "></div>
                        <p><span class="name"><i>Alert Level 2</i></span></p></li>
                        </ul>
                    </div>
                      <div id="baa_date_div"></div>
                      <div id="show_pa_marine"><span class="pa_add">Add Marine Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Coral Bleaching Heat Stress Alerts<i class="material-icons right">close</i></span>
                  <p>Level of stress of the Global Coral Reefs derived from NOAA Alerts Bleaching Alerts.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_hs">
                  <img src="{{ live_data_image_path }}coral.png">
                  <span class="card-title">Coral Bleaching HotSpot</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_hs">add</i></a>
                </div>
                <div class="card-content hs_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="hs_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #463278!important; "></div>
                        <p><span class="name"><i>1°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ffff00!important; "></div>
                        <p><span class="name"><i>2°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ff9600!important; "></div>
                        <p><span class="name"><i>3°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ff0000!important; "></div>
                        <p><span class="name"><i>4°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #6e0000!important; "></div>
                        <p><span class="name"><i>5°C</i></span></p></li>
                        
                        </ul>
                    </div>
                      <div id="hs_date_div"></div>
                      <div id="show_pa_marine"><span class="pa_add">Add Marine Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Coral Bleaching HotSpot<i class="material-icons right">close</i></span>
                  <p>The twice-weekly global 50km Coral Bleaching HotSpot product presented here was used to measure the occurrence and magnitude of instantaneous coral bleaching-inducive heat stress. See the 'Coral Reef Watch Operational 50km Satellite Nighttime SST Climatologies' table above to access the Maximum Monthly Mean (MMM) SST climatology, used before February 1, 2016 for this product..</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_ssta">
                  <img src="{{ live_data_image_path }}sst.png">
                  <span class="card-title">Sea Surface Temperature Anomalies</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_ssta">add</i></a>
                </div>
                <div class="card-content ssta_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="ssta_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                          <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #65005b!important; "></div>
                        <p><span class="name"><i>-5°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #3e1ea5!important; "></div>
                        <p><span class="name"><i>-4</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #0018c7!important; "></div>
                        <p><span class="name"><i>-3</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #0058ff!important; "></div>
                        <p><span class="name"><i>-2</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #00cdff!important; "></div>
                        <p><span class="name"><i>-1</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #dcdcdc!important; "></div>
                        <p><span class="name"><i>0</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #fbdc00!important; "></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #f0a000!important; "></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #f56400!important; "></div>
                        <p><span class="name"><i>3</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ef1e00!important; "></div>
                        <p><span class="name"><i>4</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #870c00!important; "></div>
                        <p><span class="name"><i>5°C</i></span></p></li>
                        </ul>
                    </div>
                      <div id="ssta_date_div"></div>
                      <div id="show_pa_marine"><span class="pa_add">Add Marine Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Sea Surface Temperature Anomalies<i class="material-icons right">close</i></span>
                  <p>The NOAA Coral Reef Watch (CRW) twice-weekly 50-km Sea Surface Temperature (SST) Anomaly product displays the difference between today's SST and the long-term average. The scale goes from -5 to +5 °C.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_sstat">
                  <img src="{{ live_data_image_path }}sst.png">
                  <span class="card-title">Sea Surface Temperature Trend</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_sstat">add</i></a>
                </div>
                <div class="card-content sstat_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="sstat_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                         <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #65005b!important; "></div>
                        <p><span class="name"><i>-3°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #0018c7!important; "></div>
                        <p><span class="name"><i>-2°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #00cdff!important; "></div>
                        <p><span class="name"><i>-1°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #0ba062!important; "></div>
                        <p><span class="name"><i>0°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #f0a000!important; "></div>
                        <p><span class="name"><i>1°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ef1e00!important; "></div>
                        <p><span class="name"><i>2°C</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #870c00!important; "></div>
                        <p><span class="name"><i>3°C</i></span></p></li>
                        </ul>
                    </div>
                      <div id="sstat_date_div"></div>
                      <div id="show_pa_marine"><span class="pa_add">Add Marine Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Sea Surface Temperature Trend<i class="material-icons right">close</i></span>
                  <p>The NOAA Coral Reef Watch (CRW) twice-weekly 50-km Sea Surface Temperature (SST) Anomaly product displays the difference between today's SST and the long-term average. The scale goes from -5 to +5 °C.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image card-image_dhw">
                  <img src="{{ live_data_image_path }}coral.png">
                  <span class="card-title">Coral Reef Degree Heating Weeks</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light biopama-gray"><i class="material-icons add_dhw">add</i></a>
                </div>
                <div class="card-content dhw_main">
                  <span class="legend_name card-title activator">Legend<i class="material-icons right">more_vert</i></span>
                  <p>
                    <div id="dhw_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #463278!important; "></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #645096!important; "></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #826eb4!important; "></div>
                        <p><span class="name"><i>3</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #a08cd2!important; "></div>
                        <p><span class="name"><i>4</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ffff00!important; "></div>
                        <p><span class="name"><i>5</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ffdc00!important; "></div>
                        <p><span class="name"><i>6</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ffb900!important; "></div>
                        <p><span class="name"><i>7</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ff9600!important; "></div>
                        <p><span class="name"><i>8</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #ff0000!important; "></div>
                        <p><span class="name"><i>9</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #d20000!important; "></div>
                        <p><span class="name"><i>10</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #a00000!important; "></div>
                        <p><span class="name"><i>11</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #6e0000!important; "></div>
                        <p><span class="name"><i>12</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #e67d46!important; "></div>
                        <p><span class="name"><i>13</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #b45a28!important; "></div>
                        <p><span class="name"><i>14</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #7d3c1e!important; "></div>
                        <p><span class="name"><i>15</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #552d14!important; "></div>
                        <p><span class="name"><i>16</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #f000f0!important; "></div>
                        <p><span class="name"><i>17</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #c800c8!important; "></div>
                        <p><span class="name"><i>18</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #a000a0!important; "></div>
                        <p><span class="name"><i>19</i></span></p></li>
                        <li>
                        <div class="ssta_05m icon-choropleth" style="background-color: #780078!important; "></div>
                        <p><span class="name"><i>20</i></span></p></li>
                        </ul>
                    </div>
                      <div id="dhw_date_div"></div>
                      <div id="show_pa_marine"><span class="pa_add">Add Marine Protected Areas<i class="material-icons right">layers</i></span></div>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title white-text ">Coral Reef Degree Heating Weeks<i class="material-icons right">close</i></span>
                  <p>The DHW shows how much heat stress has accumulated in an area over the past 12 weeks (3 months).</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      




      </div>
      </ul>
    
        <!-- div map -->
	      <div id="map"></div>
        <!-- end of map -->

 
  <!-- include our own javascript -->
